@model IEnumerable<SiteECommerce.Metier.Produit>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Categorie.NomCategorie)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Marque.NomMarque)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NomProduit)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ImgProduit)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PrixProduit)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DescriptionProduit)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Quantite)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Categorie.NomCategorie)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Marque.NomMarque)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NomProduit)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ImgProduit)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PrixProduit)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DescriptionProduit)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Quantite)
        </td>
        <td>
            @Html.ActionLink("Details", "Details", new { id=item.IdProduit }) |
            @*@Html.ActionLink("Ajouter au Panier", "Create", new { id = item.IdProduit })*@          
            @Html.ActionLink("Ajouter au Panier", "AjouterProduit", new { id = item.IdProduit })
        </td>
    </tr>
}

</table>
